html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
}

.chat {
    flex: 0.75;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;

}

.chat_header {
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: #f0f2f5;
    border-bottom: 1px solid #f0f2f5;
}

.chat_headerInfo {
    flex: 1;
    padding-left: 20px;
    font-weight: 600;
    font-size: 17px;
    text-transform: capitalize;

}

.chat_headerInfo>h4 {
    margin-bottom: 3px;
    font-weight: 500;
}

.chat_headerInfo>p {
    color: gray;
}

.chatUserProfile {
    /* border: 1px solid #e6dede; */
    border-radius: 50%;
    padding: 1%;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    /* margin-right: 5%; */
}

.message_date {
    position: relative;
    margin: 0 50%;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    background-color: #ffffff;
    margin-bottom: 30px;
    overflow-wrap: break-word;
}

.chat_message {
    position: relative;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    background-color: #ffffff;
    margin-bottom: 30px;
    max-width: 400px;
    overflow-wrap: break-word;
}

.chat_reciever {
    margin-left: auto;
    background-color: #dcf8c6;
}

.chat_timestamp {
    margin-left: 10px;
    padding-top: 10rem;
    font-size: xx-small;
    text-align: end;
    font-weight: 700;
}

.chat_name {
    position: absolute;
    top: -15px;
    font-weight: 700;
    font-size: xx-small;
}

.chat_headerRight {
    display: flex;
    justify-content: space-between;
    min-width: 100px;

}

.chatUserIcon {
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.chat_body {
    flex: 1;
    background-image: url("../assets/images/chatbg.png");
    background-color: #efeae2;
    background-repeat: repeat;
    background-position: center;
    padding: 30px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.chat_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    background-color: #f0f2f5;
    padding-left: 15px;
    padding-right: 15px;
    border-top: 1px solid lightgray;
}

.chat_footer>form {
    flex: 1;
    display: flex;
}

.chat_footer>form>input {
    flex: 1;
    border-radius: 8px;
    padding: 10px;
    border: none;
    outline: none;
}

.chat_footer>form>button {
    display: none;
}

.chat_footer>.MuiSvgIcon-root {
    padding: 10px;
    color: gray;
    font-size: 3rem !important;
}

.iconSize {
    text-align: start;
}


::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}